* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

:root {
  --transition: all 300ms ease-in-out;
  --dark: black;
  --light: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #acacac;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.py-7 {
  padding: 7rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.lead {
  opacity: 0.8;
  padding: 1rem 0;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.8;
}


/* header */
#header {
  background: linear-gradient(rgba(119, 136, 153), rgba(0, 0, 0, 0.3));
  justify-content: flex-start;
  align-items: flex-end;
}

.header-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.header-content h1 {
  font-size: 4.3rem;
  color: var(--light);
  text-transform: uppercase;
}

.header-content h3 {
  color: var(--light);
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.social-links {
  display: flex;
  margin-top: 2.5rem;
}

.social-links li a {
  width: 50px;
  height: 50px;
  background-color: var(--light);
  margin-right: 1rem;
  border-radius: .3rem;
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.3);
}

.social-links li a:hover {
  opacity: 0.9;
}

/* about */
.about-left {
  margin-bottom: 4rem;
  height: 480px;
  overflow: hidden;
}

.btn-down {
  font-size: 3rem;
  display: inline-block;
  margin-top: 1rem;
}

.title {
  margin-bottom: 5rem;
}

.title h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  position: relative;
}

.title h2::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 70px;
  height: 4px;
}


/* portfolio */
#portfolio {
  background: linear-gradient(rgba(119, 136, 153), rgba(0, 0, 0, 0.3));
  color: var(--light);
}

.portfolio-grid>div:hover {
  transform: scale(0.9);
}

.portfolio-grid>div {
  transition: var(--transition);
}

.portfolio-grid img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/* footer */
.footer-content {
  text-align: center;
}

.footer-content h3 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.footer-contentul {
  flex-direction: column;
}

.footer-content ul li a {
  font-size: 1.5rem;
  transform: var(--transition);
  color: var(--dark);
}

.footer-content ul li {
  margin: .5rem 1rem;
}


/* media queries */
@media(min-width: 576px) {
  .title h2 {
    font-size: 4rem;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-grid>div {
    height: 300px;
    overflow: hidden;
  }

  .portfolio-grid>div img {
    height: 100%;
    object-fit: cover;
  }


  .footer-content ul {
    flex-direction: row;
  }

}

@media(min-width: 768px) {
  .header-content h1 {
    font-size: 7rem;
  }

  .about-content,
  .work-top {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 0;
  }

  .about-left {
    margin-bottom: 0;
  }

}

@media(min-width: 1200px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio-grid>div:nth-child(2) {
    grid-column: 2 / 4;
  }

  .portfolio-grid>div:nth-child(6) {
    grid-column: 1 / 3;
  }
}